{% extends 'base.html'%}

{%block scripts%}
<script>
// jquery function

$(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: { 
                labels: [{%for data1 in qs%}{{data1.month | date:"M" }},{%endfor%}], //loop through queryset, 
                datasets: [{
                    label: 'Total Amount',
                    data: [{%for data2 in qs%}{{data2.total_revenue_amount}},{%endfor%}],
                    backgroundColor: [
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                    ],
                    borderColor: [
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 159, 64)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
    });
</script>
{%endblock scripts%}

{%block content%}
<!-- displaying the chart -->
<!-- you can also play around with the width and height to increase or decrease the chart size -->
<canvas id="myChart" width="400" height="100"></canvas>  
{%endblock content%}